.dynamodb
.yarn_install
node_modules
.DS_Store
build_dev
tsconfig.tsbuildinfo
/.env
tests_output
*.log
package-lock.json
.vscode/
*._S3rver_cors.xml
tests/test-results/
tests/playwright-report/
tests/playwright/.cache/
tests/playwright/.auth
/.cdk
cdk.context.json
**/.yarn/*
services/ui-src/public/env-config.ts
