.dynamodb
.yarn_install
node_modules
.DS_Store
build_dev
tsconfig.tsbuildinfo
# Explicitly ignore any TypeScript incremental build info anywhere
**/*.tsbuildinfo
/.env
*.log
.vscode/
/.cdk
cdk.context.json
.qlty/*
!.qlty/qlty.toml
/services/ui-src/build
services/ui-src/public/env-config.js

/services/app-api/coverage

# Playwright
tests/test-results/
tests/playwright-report/
tests/playwright/.cache/
tests/playwright/.auth
/services/ui-src/coverage
