exclude: "seed-section-base-*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: no-commit-to-branch
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.39.1
    hooks:
      - id: eslint
        files: '\.[jt]sx?$' # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        args: [--config, eslint.config.mjs]
        additional_dependencies:
          - "eslint@9.39.1"
          - "@typescript-eslint/parser@8.48.1"
          - "@typescript-eslint/eslint-plugin@8.48.1"
          - "eslint-plugin-jest@29.2.1"
          - "eslint-plugin-playwright@2.4.0"
          - "eslint-config-react-app@7.0.1"
          - "eslint-config-prettier@10.1.8"
          - "eslint-plugin-prettier@5.5.4"
          - "eslint-plugin-flowtype@8.0.3"
          - "eslint-plugin-import@2.32.0"
          - "eslint-plugin-jsx-a11y@6.10.2"
          - "eslint-plugin-react@7.37.5"
          - "eslint-plugin-react-hooks@7.0.1"
          - "@babel/eslint-parser@7.28.5"
          - "prettier@3.7.3"
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'npx prettier@3.7.3 --config .prettierrc --write --ignore-unknown "$@"' --
        language: system
        files: '\.[jt]sx?$' # *.js, *.jsx, *.ts and *.tsx
        pass_filenames: true
      - id: branch-name-validation
        name: branch-name-validation
        entry: .github/branchNameValidation.sh
        language: script
        pass_filenames: false
      - id: typescript-check-cdk
        name: typescript-check-cdk
        entry: bash -c "cd deployment && yarn tsc --noEmit"
        language: system
        pass_filenames: false
      - id: typescript-check-cli
        name: typescript-check-cli
        entry: bash -c "cd cli && yarn tsc --noEmit"
        language: system
        pass_filenames: false
      - id: typescript-check-api
        name: typescript-check-api
        entry: bash -c "cd services/app-api && yarn tsc --noEmit"
        language: system
        pass_filenames: false
      - id: typescript-check-ui
        name: typescript-check-ui
        entry: bash -c "cd services/ui-src && yarn tsc --noEmit"
        language: system
        pass_filenames: false
      - id: typescript-check-cdk
        name: typescript-check-cdk
        entry: bash -c "cd deployment && yarn tsc --noEmit"
        language: system
        pass_filenames: false
      - id: validate-commit-msg
        name: validate-commit-msg
        entry: .github/validateCommitMessage.sh
        language: script
        stages: [commit-msg]
